# Go Modules
/bin/
/pkg/
/vendor/
/*.test
/*.out
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.profile

# Node Modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.env
dist/
build/
